@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Nunito-Regular.woff2') format("woff2"),
    url('../fonts/Nunito-Regular.woff') format("woff"),
    url('../fonts/Nunito-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Nunito-Medium.woff2') format("woff2"),
    url('../fonts/Nunito-Medium.woff') format("woff");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Nunito-Bold.woff2') format("woff2"),
    url('../fonts/Nunito-Bold.woff') format("woff");
}

@font-face {
    font-family: 'Podkova';
    font-style: normal;
    font-weight: 125 950;
    src: local('Podkova[wght]'),
    url('../fonts/Podkova[wght].ttf') format('truetype');
}
