@media only screen and (max-width: 1024px)
  .title
    &_h1
      font-size: 52px

  .hero
    display: flex
    flex-flow: column
    justify-content: flex-end
    height: 70vh
    padding: 60px 40px

  .advantages__item__list
    font-size: 18px
    line-height: 1.5

@media only screen and (max-width: 768px)
  .title
    &_h1
      font-size: 48px
    &_h2
      font-size: 48px

  .header
    &__btn__burger
      display: flex
    &__burger
      flex-flow: column
      justify-content: flex-start
      gap: 60px
      background-color: transparent
      transition: transform 0.5s ease-in-out, background-color 0.4s
      z-index: 20
      position: absolute
      right: 0
      left: 0
      top: 100%
      height: 100vh
      -webkit-transform: translateY(-120%)
      -moz-transform: translateY(-120%)
      -ms-transform: translateY(-120%)
      -o-transform: translateY(-120%)
      transform: translateY(-120%)
      &.active
        transform: translateY(0)
        background-color: transparent
        transition: transform 0.5s ease-in-out, background-color 0.4s
    .nav
      &_header
        padding: 32px
        position: absolute
        top: 0
        left: 0
        right: 0
        -webkit-transform: translateY(-100%)
        -moz-transform: translateY(-100%)
        -ms-transform: translateY(-100%)
        -o-transform: translateY(-100%)
        transform: translateY(-100%)
        transition: transform 0.3s ease-in-out
        z-index: 80
        background-color: $white
        &.active
          -webkit-transform: translateY(60px)
          -moz-transform: translateY(60px)
          -ms-transform: translateY(60px)
          -o-transform: translateY(60px)
          transform: translateY(60px)
      &__list
        flex-flow: column

  .hero
    &__text
      p
        font-size: 16px
    &__shadow-wrapper
      background: linear-gradient(hsla(0, 0%, 0%, 0.15), hsla(0, 0%, 0%, 0.4))
    .title_h1
      font-size: 44px
      line-height: 1.4

  .about
    &__mission p
      font-size: 28px

  .functions__divider
    margin: 60px -20px 0
    width: calc(100% + 40px)

  .demo__title
    line-height: 1.2

@media only screen and (max-width: 640px)
  .title_h1
    font-size: 40px

  //.about__intro__text
  //  p
  //    text-align: justify

  .advantages
    &__item
      flex-flow: column
      &__image-wrapper
        min-height: 380px
        width: 100%

  .dignity__item
    padding: 64px 0

  .footer
    &__top
      flex-flow: column
      align-items: center
      gap: 32px
    &__logo
      width: 200px
    &__bottom
      text-align: center
    .nav__list
      text-align: center

  .swiper-button-prev, .swiper-button-next
    display: none

@media only screen and (max-width: 480px)
  .title
    &_h1
      font-size: 40px
    &_h2
      font-size: 30px
    &_h3
      font-size: 24px
      text-align: center

  .hero
    padding: 60px 0
    height: 55vh
    .container
      width: 80%
    .title_h1
      font-size: 36px

  .about
    padding: 0 0 80px
    &__intro
      &__image-wrapper
        display: none
      &__text p
        padding: 0 10px
        font-size: 12px
    &__mission
      padding: 0px 30px 20px
      &__title
        font-size: 14px
      p
        font-size: 20px
      //&.quote

  .advantages__item
    &__image-wrapper
      min-height: 240px
    &__list
      font-size: 14px
      li
        margin-bottom: 0

  .functions
    margin-top: 40px
    &__list__item
      font-size: 14px
      &::before
        top: 0

  .dignity
    &__item
      padding: 40px 0
    &__text
      font-size: 12px
      line-height: 150%
      font-weight: 500
      &_main
        font-size: 14px
        line-height: 1.3
        text-align: center

  .sla__text
    font-size: 12px
    line-height: 150%
    font-weight: 500
    text-align: left

  .demo__title
    font-size: 25px
    line-height: 100%
    text-align: center

  .contacts
    &__half-block_right
      padding: 40px 20px
    &__item
      font-size: 20px
    &__link
      font-size: 20px

@media only screen and (max-width: 360px)
  .container
    padding: 0 8px

