@import "libs/swiper-bundle.min.css";
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"), url("../fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Old";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Podkova";
  font-style: normal;
  font-weight: 125 950;
  src: local("Podkova[wght]"), url("../fonts/Podkova[wght].ttf") format("truetype");
}
/*@font-face {*/
/*    font-family: 'Podkova';*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*    font-weight: 700;*/
/*    src: local('Podkova Bold '),*/
/*    local('Podkova-Bold'),*/
/*    url('../fonts/podkova-latin-700.woff2') format('woff2'),*/
/*    url('../fonts/podkova-latin-700.woff') format('woff');*/
/*}*/
/*https://fonts.gstatic.com/s/podkova/v26/K2FxfZ1EmftJSV9VaJnzJw.woff2*/
/*https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaB.woff2*/
/*https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBXso.woff2*/
/*https://fonts.gstatic.com/s/podkova/v26/K2FxfZ1EmftJSV9VaJ3zJ7Kh.woff2*/
*, *::before, *::after {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 20%);
  font-family: Podkova, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input[type=number].no-arrows {
  -moz-appearance: textfield;
}
input[type=number].no-arrows::-webkit-outer-spin-button, input[type=number].no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  margin-top: 60px;
  font-size: 18px;
}
main img {
  max-width: 600px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.container_body {
  position: relative;
  overflow: hidden;
}
.container_600 {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

.wrapper_center {
  display: flex;
  justify-content: center;
}

.title_h2 {
  color: hsl(176deg, 100%, 33%);
  font-size: 50px;
  line-height: 1;
  font-family: Podkova, sans-serif;
  font-weight: 700;
  text-align: center;
}
.title_h3 {
  margin: 10px 0;
  font-size: 40px;
  font-weight: 600;
  color: hsl(187deg, 100%, 18%);
}

.bg_black {
  background-color: hsl(0deg, 0%, 20%);
  color: hsl(0deg, 0%, 100%);
}
.bg_turquoise {
  background-color: hsla(176deg, 100%, 33%, 0.08);
}

.turquoise {
  color: hsl(176deg, 100%, 33%);
}

.logo {
  display: inline-block;
  min-width: 80px;
  min-height: 42px;
}
.logo__link {
  cursor: pointer;
}
.logo__img {
  max-width: 200px;
}

.btn {
  border: none;
  font-family: Muller, sans-serif;
  cursor: pointer;
  text-decoration: none;
}
.btn_orange {
  padding: 16px 35px;
  display: block;
  max-width: 300px;
  margin-top: 10px;
  background-color: hsl(14deg, 100%, 68%);
  color: #fff;
  font-family: Podkova, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.btn_orange:hover {
  background-color: hsl(7deg, 100%, 60%);
}
.btn_burger {
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 20px;
  font-size: 0;
  background-color: inherit;
  border: none;
  z-index: 107;
}
.btn_burger:focus {
  outline: none;
}
.btn_burger:focus-visible {
  outline: var(--purple);
}
.btn_burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(187deg, 100%, 18%);
  transition: transform 0.3s, background-color 0.3s ease-out;
}
.btn_burger span::before, .btn_burger span::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(187deg, 100%, 18%);
  transition: transform 0.3s ease-in-out;
}
.btn_burger span::before {
  top: 0;
}
.btn_burger span::after {
  bottom: 0;
}
.btn_burger.active span {
  background-color: transparent;
}
.btn_burger.active span::before {
  background-color: hsl(176deg, 100%, 33%);
  transform: rotate(45deg);
  top: 9px;
}
.btn_burger.active span::after {
  background-color: hsl(176deg, 100%, 33%);
  transform: rotate(-45deg);
  bottom: 9px;
}
.btn_close {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.btn_close span {
  position: relative;
  font-size: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(187deg, 100%, 18%);
  transform: rotate(45deg);
  transition: background-color 0.3s;
}
.btn_close span::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(187deg, 100%, 18%);
  transform: rotate(90deg);
  transition: background-color 0.3s;
}
.btn_close:hover span, .btn_close:hover span::before {
  background-color: hsl(176deg, 100%, 33%);
}

.nav__list {
  display: flex;
  flex-flow: wrap;
  gap: 12px;
}
.nav__item {
  display: block;
}
.nav__link {
  padding: 4px;
  display: block;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  transition: background-color 0.3s;
}
.modal.open {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: hsla(0deg, 0%, 0%, 0.5);
}
.modal.open .modal__dialog {
  transform: translateY(0);
}
.modal__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.6s;
}
.modal__content {
  padding: 32px;
  background-color: hsl(0deg, 0%, 100%);
}
.modal__title {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  color: hsl(176deg, 100%, 33%);
}
.modal__close-wrapper {
  display: flex;
  flex-flow: row-reverse;
}
.modal__fields-wrapper {
  display: flex;
  flex-flow: column;
  gap: 16px;
}
.modal__fields-wrapper label {
  font-size: 20px;
  text-transform: uppercase;
  color: hsla(176deg, 100%, 33%, 0.8);
}
.modal__input {
  margin-bottom: 18px;
  padding: 21px 20px;
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid #e4e4e4;
  border-radius: 0;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-align: left;
}
.modal__input::placeholder {
  color: hsl(217deg, 17%, 91%);
  font-weight: 300;
}
.modal__input:active {
  border-color: hsl(222deg, 7%, 28%);
}
.modal__input:focus {
  outline: hsl(217deg, 17%, 91%);
}
.modal .btn_submit {
  margin-top: 32px;
}

.quote {
  padding: 8px 30px 20px;
  position: relative;
  border-bottom: 3px solid hsla(14deg, 100%, 68%, 0.56);
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20px;
  width: 5px;
  background-color: hsl(187deg, 100%, 18%);
}

.header {
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsl(0deg, 0%, 100%);
  z-index: 120;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: wrap;
}
.header__btn__burger {
  display: none;
}
.header__link {
  padding: 4px 10px;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
  color: hsl(176deg, 100%, 33%);
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
  text-transform: uppercase;
}
.header__link_lang {
  margin-right: 20px;
}

.hero {
  padding: 240px 0;
  background: hsl(176deg, 100%, 33%) url("../images/bg_hero_full.webp") left center no-repeat;
  background-size: cover;
}
.hero__text {
  margin-left: auto;
  max-width: 540px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
}
.hero__text p {
  font-family: Nunito, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
.hero__text .title_h1 {
  font-family: Podkova, sans-serif;
  font-size: 58px;
  line-height: 80px;
  font-weight: 700;
}

.about {
  padding: 40px 0;
}
.about__intro {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 20px;
}
.about__intro__text {
  min-width: 300px;
  flex: 7;
}
.about__intro__text p {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.about__intro__image-wrapper {
  background: hsl(0deg, 0%, 100%) url("../images/bg1.svg") center center no-repeat;
  min-width: 230px;
  min-height: 230px;
  flex: 5;
}
.about__mission {
  margin-top: 20px;
}
.about__mission__title {
  margin-bottom: 8px;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;
  color: hsla(176deg, 100%, 33%, 0.8);
}
.about__mission p {
  font-family: Podkova, sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: hsl(176deg, 100%, 33%);
}

.advantages__list {
  margin: 20px 0;
}
.advantages__item {
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-flow: wrap;
}
.advantages__item_1 .advantages__item__image-wrapper {
  background: url("../images/assets/comp.svg") center center no-repeat;
}
.advantages__item_2 .advantages__item__image-wrapper {
  background: url("../images/assets/des.svg") center center no-repeat;
}
.advantages__item_3 .advantages__item__image-wrapper {
  background: url("../images/assets/int.svg") center center no-repeat;
}
.advantages__item_4 .advantages__item__image-wrapper {
  background: url("../images/assets/cost.svg") center center no-repeat;
}
.advantages__item__image-wrapper {
  min-width: 280px;
  min-height: 500px;
  flex: 7;
}
.advantages__item__text-block {
  padding: 16px;
  flex: 5;
}
.advantages__item__list {
  margin-left: 20px;
  list-style: disc;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
.advantages__item__list li {
  margin-bottom: 10px;
}

.functions__wrapper-lists {
  margin-top: 32px;
  display: flex;
  flex-flow: wrap;
  column-gap: 20px;
}
.functions__list {
  min-width: 300px;
  flex: 1;
}
.functions__list__item {
  padding-left: 20px;
  position: relative;
  margin-bottom: 12px;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
}
.functions__list__item:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid hsl(14deg, 100%, 68%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.dignity {
  padding: 40px 0;
}
.dignity__item {
  padding: 80px 0;
}
.dignity__item__image-wrapper {
  max-width: 560px;
  min-width: 260px;
  flex: 1;
}
.dignity__item__image-wrapper img {
  max-width: 100%;
  width: 100%;
}
.dignity__item__text-block {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.dignity__item__btn-wrapper {
  flex: 100%;
}
.dignity__item .container {
  display: flex;
  flex-flow: wrap;
  gap: 16px;
}
.dignity__item_reverse .container {
  flex-flow: row-reverse wrap;
}
.dignity__text {
  margin-bottom: 10px;
  color: black;
  font-family: Nunito, sans-serif;
  line-height: 150%;
  text-align: left;
}
.dignity__text_main {
  opacity: 0.8;
  color: hsl(176deg, 100%, 33%);
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sla {
  margin-top: 20px;
}
.sla__wrapper {
  margin: 0 auto;
  padding-bottom: 40px;
  max-width: 600px;
}
.sla__image-wrapper {
  margin-top: 40px;
}
.sla__text {
  font-family: Nunito, sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
}
.sla .container {
  border-bottom: 3px solid hsla(14deg, 100%, 68%, 0.56);
}

.demo {
  margin: 20px 0 80px;
}
.demo__image-wrapper {
  margin: 40px 0;
}
.demo__image-wrapper img {
  width: 100%;
}
.demo__title {
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  color: hsl(176deg, 100%, 33%);
}

.contacts {
  display: flex;
  flex-flow: wrap-reverse;
  background-color: hsl(187deg, 100%, 18%);
}
.contacts__half-block {
  flex: 1;
  min-width: 300px;
}
.contacts__half-block_right {
  padding: 40px 12px 40px 40px;
  display: flex;
  align-items: center;
}
.contacts__item {
  margin-bottom: 16px;
  color: hsl(0deg, 0%, 100%);
  font-family: Nunito, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.contacts__link {
  color: hsl(0deg, 0%, 100%);
  font-family: Nunito, sans-serif;
  font-size: 24px;
}
.contacts__link_email {
  font-weight: 700;
}

.swiper-pagination-bullet {
  background-color: hsla(176deg, 100%, 33%, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: hsl(187deg, 100%, 18%);
}

.swiper-button-next, .swiper-button-prev {
  color: hsl(187deg, 100%, 18%);
}

.footer {
  padding: 40px 0;
  background-color: hsl(187deg, 100%, 18%);
  color: hsl(0deg, 0%, 100%);
  font-size: 18px;
}
.footer__top {
  padding-bottom: 32px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.footer__top > * {
  flex: 1;
}
.footer__bottom {
  padding-top: 40px;
  border-top: 3px solid hsl(212deg, 38%, 92%);
}
.footer .nav {
  flex: 2;
}
.footer .nav__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  justify-content: center;
}
.footer .nav__link {
  color: hsl(0deg, 0%, 100%);
}
.footer .callback {
  padding-top: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
.footer .callback__title {
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .title_h1 {
    font-size: 52px;
  }
  .hero {
    padding: 180px 0;
  }
}
@media only screen and (max-width: 768px) {
  .title_h1 {
    font-size: 48px;
  }
  .title_h2 {
    font-size: 42px;
  }
  .header__btn__burger {
    display: flex;
  }
  .header__burger {
    flex-flow: column;
    justify-content: flex-start;
    gap: 60px;
    background-color: transparent;
    transition: transform 0.5s ease-in-out, background-color 0.4s;
    z-index: 20;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    height: 100vh;
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    transform: translateY(-120%);
  }
  .header__burger.active {
    transform: translateY(0);
    background-color: transparent;
    transition: transform 0.5s ease-in-out, background-color 0.4s;
  }
  .header .nav_header {
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 80;
    background-color: hsl(0deg, 0%, 100%);
  }
  .header .nav_header.active {
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
  }
  .header .nav__list {
    flex-flow: column;
  }
}
@media only screen and (max-width: 640px) {
  .title_h1 {
    font-size: 40px;
  }
  .about__intro__text p {
    text-align: justify;
  }
  .advantages__item__image-wrapper {
    min-height: 380px;
  }
  .dignity__item {
    padding: 64px 0;
  }
  .footer__top {
    flex-flow: column;
    align-items: center;
    gap: 32px;
  }
  .footer__logo {
    width: 200px;
  }
  .footer__bottom {
    text-align: center;
  }
  .footer .nav__list {
    text-align: center;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 0 12px;
  }
  .title_h1 {
    font-size: 40px;
  }
  .title_h2 {
    font-size: 36px;
  }
  .title_h3 {
    font-size: 24px;
  }
  .advantages__item__image-wrapper {
    min-height: 240px;
  }
  .dignity__item {
    padding: 40px 0;
  }
  .contacts__half-block_right {
    padding: 40px 20px;
  }
  .contacts__item {
    font-size: 20px;
  }
  .contacts__link {
    font-size: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    padding: 0 8px;
  }
}

/*# sourceMappingURL=style.css.map */
