.hero
  padding: 240px 0
  background: $turquoise url("../images/bg_hero_full.webp") left center no-repeat
  &__text
    margin-left: auto
    max-width: 540px
    color: white
    font-weight: 400
    p
      font-family: Nunito, sans-serif
      font-size: 20px
      line-height: 1.5
      font-weight: 400
    .title_h1
      font-family: Podkova, sans-serif
      font-size: 58px
      line-height: 80px
      font-weight: 700

.about
  &__mission
    p
      font-family: Podkova, sans-serif
      font-size: 35px
      font-weight: 500

.dignity
  &__item
    padding: 80px 0
    .container
      display: flex
      flex-flow: wrap
    &__image-wrapper
      max-width: 560px
      flex: 1
      img
        max-width: 100%
        width: 100%
    &__text-block
      flex: 1
    &__btn-wrapper
      flex: 100%
  &__text
    &_main
